################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

\.vs\
\BluminEngine9\obj\
